@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>XML Eksempler!</h1>
    <p>Klik på eksemplerne!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Milepæl 1</h2>
        <p>"Eleven kan identificere områder hvor en standard baseret XML vil være hensigtsmæssig."</p>
        @Html.ActionLink("Læs mere »", "IdentifyAreas", "BasicXml", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Milepæl 2 / 3</h2>
        <p>"Eleven kan udvikle, konstruere og dokumentere en standard baseret XML."</p>
        @Html.ActionLink("Læs mere »", "Index", "DevelopXml", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Milepæl 4</h2>
        <p>"Eleven kender sammenhængen og anvendelse af CSS dokument til både XHTML og XML dokumenter."</p>
        <p><a class="btn btn-default" href="http://localhost:50294/Content/XmlCss/users.xml">Learn more &raquo;</a></p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Milepæl 5</h2>
        <p>"Eleven kender muligheder og opbygning af Xpath."</p>
        @Html.ActionLink("Læs mere »", "Index", "Xpath", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Milepæl 6</h2>
        <p>"Eleven kender opbygningen, anvendelsen og konstruktion af XSL templates til at foretage XSLT."</p>
        @Html.ActionLink("Læs mere »", "Index", "XsltExamples", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Milepæl 7</h2>
        <p>"Eleven kan dokumentere en XML standard ved hjælp af DTD og XSD Schema."</p>
        @Html.ActionLink("Læs mere »", "Index", "XSDExamples", new { area = "" }, new { @class = "btn btn-default" })
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Milepæl 8</h2>
        <p>"Eleven kan anvende XML i programmeringssammenhæng ved hjælp af DOM og SAX."</p>
        @Html.ActionLink("Læs mere »", "Index", "DOMSAX", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Milepæl 9</h2>
        <p>"Eleven får kendskab til andre anvendelser af XML i f.eks. SOAP, WSD og logfiler."</p>
        @Html.ActionLink("Læs mere »", "Index", "OtherUsage", new { area = "" }, new { @class = "btn btn-default" })
    </div>
</div>






